
#after-submit{
  display: none;
}
.well{
  margin-right: 50px;
  background-color:#E6E6FA;
  font-size: 17px;
  color: black;
  margin: 30px;
}
h1{
  font-style: italic;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
h3{
  text-align: center;
  margin:50px
}
body{
  background-image: url(../img/black.jpeg);
  background-repeat: repeat;
  color: black;

}
.jumbotron{
  margin-right: 50px;
  padding-right: 30px;
  background-color: #90EE90;
  color: #FF4500;
  margin: 50px;
}
.col{
  font-size: 18px;
  font-style: italic;
  color: white;
  text-align: center;
}
.back{
  text-align: center;
}
