/* #submit-button{
  display: none;
} */
#after-submit{
  display: none;
}
.well{
  margin-left: 20px;
}
h1{
  font-style: italic;
  font-size: 40px;
  font-weight: bolder;
  text-color:blue;
}
.jumbotron{
  vertical-align: middle;
}
